{% extends 'layout.html' %}

{% block content %}

   <div class="content">

      <h2>{{title}}</h2>

      <form action="{{url_for('classify_img_blueprint.classify_img')}}" method="POST" enctype="multipart/form-data">
      
         <div style="text-align: center">
            <img src="{{ url_for('.static', filename='/'.join(['img', image_path])) }}">
         </div>

         <h3>{{prediction}}</h3>

         <div class="absolute-bottom">
            <label for="model">Choose a pre-trained model: </label>
            <select id="model" name="model_name">
               <option value="resnet50">ResNet50</option>
               <option value="inceptionv3">InceptionV3</option>
               <option value="densenet201">DenseNet201</option>
            </select>
            &nbsp;&nbsp;
            <input type="file" id="file" name="input_file" 
            accept="image/*" 
            onchange="document.getElementById('image').src = window.URL.createObjectURL(this.files[0])" 
            required
            />
            <!--label for="file" type="submit" >
               <i class="material-icons">add_photo_alternate</i>
               Upload an image
            </label-->
            <img id="image" width="50"/>
            <button id="predict" type="submit">Classify!</button>
         </div>

      </form>
   </div>
{% endblock %}
