/* Navigation bar */
.navbar {
   overflow: hidden;
   background-color: #333;
   position: fixed;
   top: 0;
   width: 100%;
}

/* Links inside navigation bar */
.navbar a {
   float: left;
   display: block;
   color: #bbb;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Background when hover */
.navbar a:hover {
   color: #ececec;
}

/* Text on navigation bar */
.navbar-text {
   padding: 14px 16px;
   color: #5e5e5e;
   float: right;
}

/* Top margin for content */
.content {
   margin-top: 50px;
}

.absolute-bottom {
   position: absolute;
   left: 30%;
   width: auto;
   transform: translateX(-15%);
   bottom: 5%;
   /*
   bottom: 30px;
   left: 20%;
   right: 10%;
   */
}

.center {
   text-align: center;
}

/* Do not display file name */
/*
input[type="file"] {
   color: transparent;
}
*/

.reminder {
   color: red;
}

h1 {
   text-align: center;
}

h2 {
   text-align: center;
}

h3 {
   text-align: center;
}

@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
       scroll-behavior: smooth;
    }
}

.btt-link {
    float: right;
    position: fixed;
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 5rem);
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #bbb;
    color: #ececec;
    padding: 0.25rem;
    border: 1px solid $color;
    background-color: scale-color($color, $lightness: 85%);
    transition: transform 80ms ease-in;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px scale-color($color, $lightness: 35%);
    }
    
}

$scrollLength: 100vh;

.btt-wrapper {

   position: absolute;
   top: $scrollLength;
   right: 0.25rem;
   bottom: -5em;
   width: 3em;
   pointer-events: none;
}

main {
    padding: 0 3rem;
    position: relative;
    max-width: 50rem;
    margin: 2rem auto;
    *:last-child {
        margin-bottom: 0;
    }
}
/*
button {
   color: black;
   border: none;
   background-color: white;
   font-size: 16px;
   justify-content: center;
   padding: 20px;
   display: flex; 
}
*/

/*
label {
   color: black;
   height: 60px;
   width: 220px;
   background-color: white;
   position: absolute;
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
}*/
