{% extends 'layout.html' %}

{% block content %}

   <div class="content" style="color: red">
      <h1>{{ InternalServerError }}</h1>
      <label for="error">
         <i class="material-icons">error</i>
         {{ 500 }}
      </label>
      <p>{{ InternalServerError }}: {{Original exception is None.}}</p>
   </div>

{% endblock %}
