{% extends 'layout.html' %}

{% block content %}

   <div class="content" style="color: red">
      <h1>{{ title }}</h1>
      <label for="error">
         <i class="material-icons">error</i>
         {{ e_code }}: {{ e_name }}
      </label>
      <p>{{e_desc}}</p>
   </div>

{% endblock %}
