<!doctype html>
<html>

   <head>
      <title>{{title}}</title>
      <meta charset="utf-8">
      <meta name="description" content={{description}}>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
      <link ref="shortcut icon" href="#" />
   </head>
   
   <body>
      {% include 'navigation.html' %}
      {% block content %}{% endblock %}
   </body>

</html>
