<header>
   <div class="container">
      <nav class="navbar">
      <!--
         {% for link in nav %}
            <a href="{{link.url}}">{{link.name}}</a>
         {% endfor %}
      -->
         <a href="{{ url_for('sanity_check_blueprint.sanity_check') }}">.</a>
         <a href="{{ url_for('home_blueprint.home') }}">Home</a>
         <a href="{{ url_for('classify_img_blueprint.classify_img') }}">Image Classifier</a>
         <span class="navbar-text">Playground</span>
      </nav>
   </div>
</header>
