{% extends 'layout.html' %}

{% block content %}

   <div class="content">

      <h2 id="top">{{title}}</h2>
      <main>
      <p class="reminder">{{description}}</p>

      <table>
         <caption>Playground URL Map</caption>
         <tr>
            <th>Endpoint</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>BlueprintName.RouteHandler</th>
         </tr>
         {% for rule in url_map_list %}
         <tr>
            <td>{{ rule[0] }}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{ rule[1] }}</td>
         <tr>
         {% endfor %}
      </table>

      </br>

      <table>
         <caption>Configuration Variables</caption>
         <tr>
            <th>Variables</th>
            <th>Values</th>
         </tr>
         {% for k in config_dict %}
            {% if k in ['ENV', 'APP_FOLDER', 'LOG_FILENAME', 'LOG_LEVEL'] %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ config_dict[k] }}</td>
            </tr>
            {% endif %}
         {% endfor %}
      </table>

      </br>

      <details>
        <summary>See all Loggers</summary>
        <ul>
            {% for logger in logger_list %}
            <li>{{ logger }}</li>
            {% endfor %}
        </ul>
      </details>

      <!-- Back to top link -->
      <div class="btt-wrapper">
         <a href="#top" class="btt-link" aria-label="Scroll to Top">↑</a>
      </div>
      </main>
   </div>

{% endblock %}
